---
layout: default
---

<article class="page">
    <div class="entry-content">{{ content }}</div>
</article>

{% if site.disqus_short_name and page.comments == true %}
<section id="comment">
    <h1 class="title">Comments</h1>
    <p>The comments are not automatically shown, so the page loads faster and you only partake in the disqus network if you click. However, this does not mean that your comments are not appreciated, to the contrary!</p> 
    <br>
    <div id="disqus_thread"> 
	<a href="#" onclick="disqus();return false;"><i class="el el-group"></i> Show Comments</a>
    </div> 
</section>
{% endif %}
