<!-- Social media content metadata -->
{% if site.facebook_app_id %}
<meta property="fb:admins" content="{{ site.facebook_admin_id }}" />
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:url" content="{% if canonical %}{{ canonical }}{% else %}{{ site.url }}{% endif %}/" />
<meta property="og:type" content="{% if page.title %}article{% else %}website{% endif %}" />
<meta property="og:description" content="{{ description | strip_html | condense_spaces | truncate:200 }}" />
<meta property="og:author" content="{{ site.facebook_page }}" />
{% if page.facebook.image %}<meta property="og:image" content="{{ site.url }}{{ page.facebook.image }}" />{% endif %}
{% endif %}
{% if site.twitter_user %}
<meta property="twitter:card" content="{% if page.twitter_card.type %}{{ page.twitter_card.type}}{% else %}summary{% endif %}" />
<meta property="twitter:site" content="{{ site.twitter_user }}" />
<meta property="twitter:url" content="{% if canonical %}{{ canonical }}{% else %}{{ site.url }}{% endif %}" />
<meta property="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="twitter:description" content="{{ description | strip_html | condense_spaces | truncate:200 }}" />
<meta property="twitter:creator" content="{% if page.twitter_card.creator %}{{ page.twitter_card.creator }}{% else %}{{ site.twitter_user }}{% endif %}" />
{% if page.twitter_card.image %}<meta property="twitter:image:src" content="{{ site.url }}{{ page.twitter_card.image }}" />{% endif %}
{% endif %}
